# =========================
# 🔒 Firebase / Secrets
# =========================
functions/firebase-key.json
netlify/functions/firebase-key.json
server/serviceAccountKey.json
serviceAccountKey.json

# =========================
# 🔐 Environment files
# =========================
.env

# =========================
# 📦 Node
# =========================
node_modules/
npm-debug.log
yarn-error.log

# =========================
# ⚙️ Netlify
# =========================
.netlify

node_modules
.env
backend/
server/
*.json